{% extends 'base_admin.html' %}
{% block content %}
    <h2 class="sub-heading">External API Services</h2>
    <div id="apiservice" class="app col-md-7 rm-l-pad" data-v="apiservice">
        <div id="info-strip">
            <div class="header-strip">
                <h3 class="text">SURVEY PLATFORM</h3>
            </div>
            <div class="panel panel-default panel-condensed flat-top">
                <div class="panel-body table-form">
                    <table class="table table-stripped info">
                        <tbody>
                            <tr><td><b>Service Key</b></td><td>:</td>
                                <td colspan="2" class="key">{{ info.key }}</td></tr>
                            <tr><td><b>API Root</b></td><td>:</td>
                                <td colspan="2" class="api-root">{{ info.api_root }}</td></tr>
                            <tr><td><b>API Token</b></td><td>:</td>
                                <td class="api-token">{{ info.api_token|default:"" }}</td>
                                <td class="validation-result"></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="buttons">
                <div class="buttons rm-r-margin">
                    <button class="btn btn-default btn-sm btn-slim set-token">
                        Set Token
                    </button>
                    <button class="btn btn-default btn-sm btn-slim clear-token">
                        Clear Token
                    </button>
                </div>
            </div>
        </div>
        <div id="creds-strip" class="hide">
            <a class="close pull-right"><i class="fa fa-times-circle"></i></a>
            <p class="mini">Enter credentials of account to be used for API access.</p>
            <div class="error-display"></div>
            <form action="" method="" class="creds clearfix">
                <div class="form-group col-sm-5 col-xs-5 rm-l-pad rm-r-pad">
                    <input type="text" name="username" placeholder="Username" class="form-control input-sm" required="" />
                </div>
                <div class="form-group col-sm-5 col-xs-4 rm-l-pad rm-r-pad">
                    <input type="password" name="password" placeholder="Password" class="form-control input-sm" required="" />
                </div>
                <button class="btn btn-primary btn-sm col-sm-2 col-xs-3">Get Token</button>
            </form>
            
            <div class="token-display hide clearfix">
                <form action="" method="" class="token">
                    <div class="col-sm-10 col-xs-9 rm-l-pad rm-r-pad">
                        <div class="readonly form-control input-sm">
                            <b>Token: </b><label class="token-value"></label>
                        </div>
                    </div>
                    <button class="btn btn-success btn-sm col-sm-2 col-xs-3">Apply</button>
                </form>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
