{% extends 'base_admin.html' %}
{% block content-pane %}
<div class="hook">
    <div class="panel panel-default panel-sq">
        <div class="panel-heading">
            <i class="fa fa-fw fa-home"></i> Service Point
            <div class="buttons pull-right">
                <a class="btn btn-default btn-sm btn-slim" href="{% url 'admin-office-upd' office.code %}">
                    <i class="fa fa-fw fa-pencil"></i> Update
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="data-card col-sm-offset-4 col-sm-8 rd-l-pad rd-r-pad">
                <div class="data-row">
                    <div class="col-sm-6 rd-l-pad">
                        <span>Region</span><label><a href="{% url 'admin-region-info' office.parent.code %}">{{ office.parent }}</a></label>
                    </div>
                    <div class="col-sm-6 rd-l-pad">
                        <span>Category</span><label>{{ office.get_category_display }} </label>
                    </div>
                </div>
                <div class="data-row">
                    <div class="col-sm-6 rd-l-pad">
                        <span>Code</span><label>{{ office.code }}</label>
                    </div>
                    <div class="col-sm-6 rd-l-pad">
                        <span>Name</span><label>{{ office.name }} </label>
                    </div>
                </div>
                <div class="data-row">
                    <div class="col-sm-6 rd-l-pad">
                        <span>Phone</span> <label> {{ office.phone }}</label>
                    </div>
                    <div class="col-sm-6 rd-l-pad">
                        <span>Email</span> <label>{{ office.email }}</label>
                    </div>
                </div>
                <div class="data-row">
                    <div class="col-sm-6 rd-l-pad">
                        <span>Address</span> <label>{{ office.addr_street}} {{ office.addr_town }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-sqi">
        <div class="panel-heading tabbed">
            <ul class="nav nav-tabs nav-flattabs">
                <li class="active"><a href="{# url 'admin-region-info' office.code #}"><i class="fa fa-fw fa-adjust"></i> Distribution Stations</a></li>
            </ul>
            {% if stations.exists %}
            <div class="buttons pull-right">
                <a class="btn btn-default btn-sm btn-slim" href="{# url 'admin-office-add' #}?for={{ office.code }}">
                    <i class="fa fa-fw fa-plus"></i> Add
                </a>
            </div>
            {% endif %}            
        </div>
        <div class="panel-body">
            {% if not stations.exists %}
            <div class="action-notice">
                No Distribution Stations found <br/>
                <a class="btn btn-default btn-sm" href="{% url 'admin-office-add' %}?for={{ office.code }}">Add a new Distribution Station</a>
            </div>
            {% else %}
            <table class="table table-stripped table-condensed">
                <thead>
                    <tr><th>Code</th><th>Name</th><th></th></tr>
                </thead>
                <tbody>
                    {% for s in stations %}
                    <tr><td><a href="">{{ s.code }}</a></td><td>{{ s.name }}</td>
                        <td><i class="fa fa-fw fa-trash"></i></td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}