{% extends 'base_admin.html' %}
{% load main_tags %}
{% block content %}
    <h2 class="sub-heading">Organisation</h2>
    <div id="org" class="app" data-r="adminOffices">
        <div class="alert hide"></div>
        <div id="l-content" class="col-md-6 rm-r-pad"></div>
        <div id="r-content" class="col-md-6 rm-r-pad"></div>
        <div class="loading text-center">
            <i class="fa fa-3x fa-pulse fa-spinner"></i>
        </div>
    </div>
    <script type="appliacation/json" id="bootstrap">
        {"offices": {{ offices|model_to_json|safe }},
         "states": {{ states|to_json|safe }}}
    </script>
    <script type="text/template" id="regions-template">
        <div class="header-strip">
            <h3 class="text">REGIONS</h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default add" title="Add Region" data-toggle="tooltip">
                    <i class="fa fa-md fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body table-stripped">
                <table class="table table-stripped info">
                    <tbody>
                    <% if (offices && offices.length > 0) { %>
                        <% _(offices.models).each(function(m) {%>
                        <tr><td style="width:30px"><i class="fa fa-md fa-building-o"></i></td>
                            <td style="width:60px"><a href="#/<%- m.get('code') %>/"><%- m.get('code') %></a></td>
                            <td><%- m.get('name') %></td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="form-template">
        <div class="header-strip">
            <h3 class="text">NEW REGION</h3>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Code</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="code form-control input-sm" 
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('code') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Name</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="name form-control input-sm" 
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('name') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Phone</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="phone form-control input-sm"
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('phone') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Email</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="email form-control input-sm"
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('email') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <span class="col-sm-10" style="color:grey"><b>ADDRESS INFO</b></span>
                    <hr style="margin-bottom:5px"/>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Street</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="addr_street form-control input-sm" 
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('addr_street') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Town/City</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="addr_town form-control input-sm"
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('addr_town') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Postal Code</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="postal_code form-control input-sm"
                        <% if (!_.isEmpty(office)) { %> value="<%- office.get('postal_code') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">State</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select type="text" class="state form-control input-sm">
                            <option value=""></option>
                         <% _(states).each(function(s) { %>
                            <option value="<%- s.id %>"><%- s.name %></option>
                         <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <% if (!_.isEmpty(office) && !editable) { %> <button class="edit btn btn-sm btn-primary">Edit</button> <%
                        } else { %> <button class="save btn btn-sm btn-primary">Save</button> <% } %>
                        <button class="cancel btn btn-sm btn-default">Cancel</button>
                    </div>
                    <input type="hidden" class="id" value="" />
                    <input type="hidden" class="date_created hidden" value="" />
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="view-template">
        <div class="header-strip">
            <h3 class="text">REGION: <%- office.get('name') %></h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default edit" title="Edit" data-toggle="tooltip">
                    <i class="fa fa-md fa-edit"></i>
                </button>
            </div>
            <div class="panel panel-default panel-condensed flat-top">
                <div class="panel-body table-form">
                    <table class="table table-stripped info">
                        <tr><td><b>Code</b></td><td>:</td>
                            <td><%- office.get('code') %></td></tr>
                        <tr><td><b>Name</b></td><td>:</td>
                            <td><%- office.get('name') %></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </script>
    {{ block.super }}
{% endblock %}