{% extends 'base_admin.html' %}
{% load humanize centrak %}
{% block content-pane %}
<div class="panel panel-default panel-sqi">
    <div class="panel-heading">
        <i class="fa fa-fw fa-users"></i> Users
        <div class="buttons pull-right">
            <a class="btn btn-default btn-sm btn-slim" href="{% url 'admin-import' "users" %}">
                <i class="fa fa-fw fa-download"></i> Import
            </a>
            <a class="btn btn-default btn-sm btn-slim" href="{% url 'admin-user-add' %}">
                <i class="fa fa-fw fa-user-plus"></i> Create
            </a>
        </div>
    </div>
    <div class="panel-body">
    {% if not users %}
        <div class="action-notice">
            <h3>Hmmm!</h3> 
            This is odd. You shouldn't be accessing any part of the <br/>
            application much less this page!
        </div>
    {% else %}
        <table class="table table-stripped table-condensed no-thead">
            <tbody>
                {% for u in users %}
                <tr><td colspan="4">
                        <div class="coin col-xs-1 h3">{{ u.last_name|first }}{{ u.first_name|first }}</div>
                        <a class="dourow" href="{% url 'admin-user-info' u.id %}">
                        <div class="col-xs-5">
                            <span class="h4">{{ u|user_fullname|default:"--" }}</span><br/>
                            <span>{{ u.username }}</span>
                        </div>
                        <div class="col-sm-6">
                            <div title="Location"><i class="fa fa-fw fa-map-marker"></i> {{ u.profile.full_location|default:"--" }}</div>
                            <div title="Roles"><i class="fa fa-fw fa-sliders"></i> {{ u|user_roles|default:"--" }}</div>
                        </div></a>
                    </td>
                    <td class="text-right">{% if u.is_active %}
                        <div class="text-success2"><i class="fa fa-fw fa-toggle-on"></i></div>{% else %}
                        <div class="text-danger"><i class="fa fa-fw fa-toggle-off"></i></div>{% endif %}
                        <div class="text-sm em">{{ u.last_login|naturaltime|default:"no login" }}</div>
                    </td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
    {% include 'snippets/panel_pager.html' with page=users %}
</div>
{% endblock %}