node_modules
__pycache__
.settings


celerybeat*.*
centrak/**/css/*.css
.*project
*.sqlite3
*.py[co]
*.log
.*

##: special handling for bower components
#:: ignore all components
fbower_comps/*

#:: exclude _libs
!fbower_comps/_libs
