django==1.8.13
psycopg2==2.6.1
django-ezaddress==0.2
djangorestframework==3.3.3
mongoengine==0.10.6
django-rest-framework-mongoengine==3.3.0
requests==2.10.0
django-redis==4.4.3
python-dateutil==2.4.2
pandas==0.17.1
celery==3.1.23
django-compressor==2.0
uwsgi==2.0.13