{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h2><i class="fa fa-key text-muted"></i> Password Reset</h2>
    <p class="text-danger">
        This feature is currently not supported.
    </p>
    <p>
        Ideally you should be able to reset your account's password via
        an automated email-based password reset mechanism. However at this
        point in time, this feature is not supported and it might be a
        while (if ever) before it becomes available.
    </p>
    <hr/>
    
    <div class="callout callout-info">
        <h4>How to Proceed</h4>
        <p>
            Please contact KEDCO ICT (or the CENTrack Administrator) with
            respect to this regard. Sorry for the inconvenience.
        </p>
    </div>
    <hr/>
{% endblock %}
{% block style-extra %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
{% endblock %}