@charset "utf-8";
@import "../../fbower_comps/bootstrap/less/variables.less";


/* ==============================+
 |  callout
 + =====================================================================*/

.callout {
    padding: 5px 10px;
    margin: 20px 0;
    border: solid 1px #eee;
    border-radius: 4px 7px 7px 4px;
    border-left-width: 7px;
    text-align: justify;
    background-color: #f9f9f9;

    p.small { font-size: 11px; }
}

.callout-info { border-left-color: @brand-info; }
.callout-success { border-left-color: @brand-success; }
.callout-warning { border-left-color: @brand-warning; }
.calllout-danger { border-left-color: @brand-danger; }


/* ==============================+
 |  panel-sq
 + =====================================================================*/
.panel.panel-sq {
    border-radius: 0px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);    // h-len, v-len, blur, spread, colour

    .panel-heading {
        font-size: 14px;
    }
}
