@charset "utf-8";
@import "variables.less";



/* ==============================+
 |  callout
 + =====================================================================*/
.callout {
    padding: 5px 10px;
    margin: 20px 0;
    border: solid 1px #eee;
    border-radius: 4px 7px 7px 4px;
    border-left-width: 7px;
    text-align: justify;
    background-color: #f9f9f9;

    p.small { font-size: 11px; }
}

.callout-info { border-left-color: @brand-info; }
.callout-success { border-left-color: @brand-success; }
.callout-warning { border-left-color: @brand-warning; }
.calllout-danger { border-left-color: @brand-danger; }


/* ==============================+
 |  nav-flattabs
 + =====================================================================*/
.nav.nav-flattabs {
    & > li {
        &  > a {
            color: @text-color;
            margin-right: 2px;
            padding: 12px 15px 6px;
            line-height: @line-height-base;
            border-bottom: solid @nav-flattabs-border-size transparent;

            &:focus { background-color: #fff; }
            &:hover {
                border-radius: none;
                background-color: #fff;
                border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 20%);
            }
        }

        &.active > a,
        &.active > span {
            &, &:hover, &:focus {
                color: @nav-tabs-active-link-hover-color;
                background-color: #fff; // @nav-link-hover-bg;
                border-color: transparent;
                border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 5%);                
            }
        }
    }
}


/* ==============================+
 |  nav-nested
 + =====================================================================*/
.nav.nav-nested {
    hr { margin: 2px 0px; }
    li {
        & > a { 
            padding: 4px 3px;
            color:  @text-muted2;  
            &:hover {
                background: none;
                color: @link-color;
            }
        }
        &.active > a,
        &.active > span {
            &, &:hover, &:focus {
                color: @link-color;
            }
        }
    }
    li > div {
        margin-top: 5px;
        padding-left: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


/* ==============================+
 |  panel-sq
 + =====================================================================*/
.panel.panel-sq,
.panel.panel-sqi {
    border-radius: 0px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);    // h-len, v-len, blur, spread, colour

    .panel-heading {
        font-size: 14px;
    }
}

.panel.panel-sqi {
    .panel-heading {
        background: #fff;
    }
}


/* ==============================+
 |  action-notice
 + =====================================================================*/
.action-notice {
    margin: 40px auto;
    text-align: center;
    &, .btn.btn-default { color: @text-muted2; }
    .btn { margin-top: 5px; }
 }

form, .data-card {

    span, .form-group label {
        color: @text-muted2; 
    }

    label, .form-group label.b {
        color: #444;
        display: block;
        margin: -3px 0 5px;
        font-weight: bold;
    }

    .data-row {
        width: 100%;
        margin: 1px 0;
        display: table;
    }
}
 
.coin {
    margin: 0;
    width: 40px; 
    height: 40px;
    padding: 3px 0;
    border-radius: 20px;
    text-align: center;
    background-color: @coin-bg-b;
    border: solid 2px @coin-border-color;
} 



/* ==============================+
 |  WIDGET STATS
 + =====================================================================*/
.b { font-weight: bold; }
.blue { color: rgb(52, 143, 260) !important; }
.bg-blue { background-color: rgba(103, 168, 206, 0.6) !important; }
.bg-green { background-color: rgba(0, 172, 172, 0.6) !important; }
.bg-purple { background-color: rgba(114, 124, 182, 0.6) !important; }
.bg-orange { background-color: rgba(243, 156, 18, 0.6) !important; }
.bg-red { background-color: rgba(221, 75, 57, 0.6) !important; }
.bg-white { background-color: #fff; border: solid 1px #ddd; }

.bg-black-dark { background-color: rgba(45, 53, 60, 0.7) !important; }
.bg-black { background-color: rgba(45, 53, 60, 0.5) !important; }
.bg-black-lite { background-color: rgba(45, 53, 60, 0.3) !important;  }


.widget {
    color: #fff;
    margin-bottom: 10px; padding: 10px;
    border-radius: 3px; overflow: hidden;
}

.widget.widget-stats {
    position: relative;
    .stats-icon {
        height: 48px; width: 48px; 
        font-size: 48px; line-height: 48px;
        position: absolute; top: 8px; right: 14px;
        text-align: center; color: #fff; opacity: 0.2;
    }
    .stats-title { 
        position: relative; font-size: 9pt; margin: 0 0 5px;
        color: rgba(255, 255, 255, 0.6); text-transform: uppercase; 
    }
    .stats-number {
        font-size: 20pt; font-weight: bold; margin-bottom: 10px;
    }
    .stats-progress {
        background: rgba(0, 0, 0, 0.2); 
        height: 2px; margin: 0 -15px 5px;

        .progress-bar { background: #fff; }
    }
    .stats-desc { color: rgba(255, 255, 255, 0.6); }
    .scale { font-size:8pt; float:right; }
}

.widget-chart {
    position: relative; overflow: hidden;
    border-radius: 4px; margin-bottom: 20px;

    .widget-chart-content { padding: 10px; }
    .widget-chart-content.with-sidebar { padding: 10px; margin-right: 200px; }
    .chart-title { 
        margin: 0 5px 5px; 
        font-size: 14pt !important; text-transform: uppercase;
        small {
            display: block; margin-top: 5px; 
            font-family: Roboto; font-size: 8pt; 
            text-transform: none;
        }
    }

    .widget-chart-sidebar {
        position: absolute; 
        right: 0; top: 0; bottom: 0;
        padding: 10px; width: 200px; 
    }
}

.widget {
    .lg { font-size: 16pt; }
    .sm { font-size: 12pt; }
    .xs { font-size: 9pt; }
    .xx { font-size: 8pt; }
    .bottom { border-top: dotted 1px #ddd; }
    &.widget-stats-strip {
        color: #333; margin-bottom: 0; padding: 10px 10px 0;
        .strip-title {
            font-size: 9pt; color: #999; text-transform: uppercase;
        }
    }
    &.strip-notice { margin: 0; padding: 3px 10px 0; color: #999; }
}
