{% extends 'layout-cols-md-sm.html' %}
{% load staticfiles %}

{% block cols-md-content %}
    <h1>Devices</h1>
    
    <div class="table-listing">
    {% with p=record_list %}
        <form data-bind="table" method="post" action=""
              data-paging-numbers="{{ p.paging_numbers }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Device Listing
                    
                    <div class="btn-controls pull-right">
                        <div class="btn-group">
	                        <button type="button" class="btn-link" name="btn_add" title="Add Device" data-action-url="{% url 'device-insert' %}">
	                            <span class="glyphicon glyphicon-plus"></span>
	                        </button>
                        </div>                    
                        <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                
                {% csrf_token %}
                <table class="table table-condensed">
                    <thead>
                        <tr><th><input type="checkbox" title="Toggle Selection" data-toggle="checked" data-target="record_ids" /></th>
                            <th>Label</th><th>Form Factor</th>
                            <th>IMEI</th><th>Brand</th><th>OS</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in p %}
                        <tr><td><input type="checkbox" name="record_ids" value="{{ item.id }}" /></td>
                            <td><a href="#">{{ item.label }}</a></td>
                            <td>{{ item.get_form_factor_display }}</td>
                            <td>{{ item.imei }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.mobile_os }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="6">No Data Available.</td></tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr><td colspan="6">
                              <div class="pagination-packed">
                                   <div class="summary">
                                       <span>{{ p.start_index }} - {{ p.end_index }} of {{ p.paginator.count }} items @</span>
                                       <select name="pageSize">
                                       {% for size in p.page_sizes %}
                                           <option{% ifequal p.current_size size %} selected{% endifequal %}>{{ size }}</option>
                                       {% endfor %}
                                       </select>
                                       <span>per page</span>
                                   </div>
                                   
                                   <div class="controls">
                                       <span name="first" class="btn btn-default glyphicon glyphicon-fast-backward"></span>
                                       <span name="prev" class="btn btn-default glyphicon glyphicon-step-backward"></span>
                                       <input type="number" name="page" min="1" max="{{ p.paginator.num_pages }}" value="{{ p.number }}" />
                                           / {{ p.paginator.num_pages }} 
                                       <span name="next" class="btn btn-default glyphicon glyphicon-step-forward"></span>
                                       <span name="last" class="btn btn-default glyphicon glyphicon-fast-forward"></span>
                                   </div>
                               </div>                          
                            </td></tr>
                    </tfoot>
                </table>
            </div>
        </form>
    {% endwith %}
    </div>
{% endblock %}
{% block extra-scripts %}
    <script src="{% static "enumeration/js/datatable.js" %}"></script>
{% endblock %}
