{% extends 'layout-cols-md-sm.html' %}
{% load staticfiles %}

{% block cols-md-content %}
	{% if form.errors %}
	<div class="alert alert-messages alert-danger">
		<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
		{{ form.errors.name |striptags }}
	</div>
	{% endif %}
	
	<h1>Device Options</h1>
	<div class="tabbed-control">
        <ul class="nav nav-flattabs">
        {% for name, url in tabs %}
            {% ifequal request.path url %}
            <li class="active"><span>{{ name}}</span></li>
            {% else %}
            <li><a href="{{ url }}">{{ name }}</a></li>
            {% endifequal %}             
        {% endfor %}
        </ul>
        
        <div class="tab-content">
            <div class="table-listing" style="padding: 10px 5px 5px 5px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block insert-form %}
                        <form class="form-inline text-right" method="post">
                            {% csrf_token %}
                            {{ form.name }}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                        {% endblock %}
                    </div>
                </div>
                
                {% with p=record_list %}
                <form data-bind="table" method="post" action="{% block delete-url %}{% endblock %}"
                      data-paging-numbers="{{ p.paging_numbers }}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% block listing-title %}{% endblock %}
                            
                            <div class="btn-controls pull-right">
                                <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="btn-group hide">
                                    <button type="button" class="btn-link" name="btn_actions" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Import Data</a></li>
                                    </ul>
                                </div>                       
                            </div>
                        </div>
                        
                        {% csrf_token %}
                        <table class="table table-condensed">
                            <thead>
                                <tr><th><input type="checkbox" title="Toggle Selection"
                                               data-toggle="checked" data-target="record_ids" /></th>
                                    <th>{% block column-name %}{% endblock %}</th></tr>
                            </thead>
                            <tbody>
                            {% block tbody-rows %}{% endblock %}
                            </tbody>
                            <tfoot>
                                <tr><td colspan="2">
                                      <div class="pagination-packed">
                                           <div class="summary">
                                               <span>{{ p.start_index }} - {{ p.end_index }} of {{ p.paginator.count }} items @</span>
                                               <select name="pageSize">
                                               {% for size in p.page_sizes %}
                                                   <option{% ifequal p.current_size size %} selected{% endifequal %}>{{ size }}</option>
                                               {% endfor %}
                                               </select>
                                               <span>per page</span>
                                           </div>
                                           
                                           <div class="controls">
                                               <span name="first" class="btn btn-default glyphicon glyphicon-fast-backward"></span>
                                               <span name="prev" class="btn btn-default glyphicon glyphicon-step-backward"></span>
                                               <input type="number" name="page" min="1" max="{{ p.paginator.num_pages }}" value="{{ p.number }}" />
                                                   / {{ p.paginator.num_pages }} 
                                               <span name="next" class="btn btn-default glyphicon glyphicon-step-forward"></span>
                                               <span name="last" class="btn btn-default glyphicon glyphicon-fast-forward"></span>
                                           </div>
                                       </div>                                
                                    </td></tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
                {% endwith %}
            </div>
        </div>
	</div>
{% endblock %}
{% block extra-scripts %}
    <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}
