{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <h1>Groups</h1>
    <div class="table-listing-ext">
    {% with p=record_list %}
        <form data-bind="table" method="post" action="{ url 'group-delete' }"
              data-paging-numbers="{{p.paging_numbers}}">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    &nbsp;
                    <div class="btn-controls pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn-link" name="btn_add" title="Add Person" data-action-url="{% url 'group-insert' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                
                {% csrf_token %}
                <table class="table table-condensed">
                    <thead>
                        <tr><th><input type="checkbox" title="Toggle Selection" data-toggle="checked" data-target="record_ids" /></th>
                            <th>Name</th><th># Team</th><th># People</th><th># Devices</th></tr>
                    </thead>
                    <tbody>
                    {% for item in p %}
                        <tr><td><input type="checkbox" name="record_ids" value="{{ item.id }}" /></td>
                            <td><a href="{% url 'group-view' item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.teams.count }}</td>
                            <td>{{ item }}</td>
                            <td>{{ item }}</td></tr>
                    {% empty %}
                        <tr><td colspan="5">No Data Available.</td></tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr><td colspan="5">
                              <div class="pagination-packed">
                                   <div class="summary">
                                       <span>{{ p.start_index }} - {{ p.end_index }} of {{ p.paginator.count }} items @</span>
                                       <select name="pageSize">
                                       {% for size in p.page_sizes %}
                                           <option{% ifequal p.current_size size %} selected{% endifequal %}>{{ size }}</option>
                                       {% endfor %}
                                       </select>
                                       <span>per page</span>
                                   </div>
                                   
                                   <div class="controls">
                                       <span name="first" class="btn btn-default glyphicon glyphicon-fast-backward"></span>
                                       <span name="prev" class="btn btn-default glyphicon glyphicon-step-backward"></span>
                                       <input type="number" name="page" min="1" max="{{ p.paginator.num_pages }}" value="{{ p.number }}" />
                                           / {{ p.paginator.num_pages }} 
                                       <span name="next" class="btn btn-default glyphicon glyphicon-step-forward"></span>
                                       <span name="last" class="btn btn-default glyphicon glyphicon-fast-forward"></span>
                                   </div>
                               </div>                          
                            </td></tr>
                    </tfoot>
                </table>
            </div>
        </form>
    {% endwith %}
    </div>
{% endblock %}
{% block extra-scripts %}
    <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}

