{% extends 'enumeration/device-options-base.html' %}

{% block delete-url %}{% url 'mobile-os-delete' %}{% endblock %}
{% block listing-title %}Mobile OS Listing{% endblock %}
{% block column-name %}Mobile OS Name{% endblock %}

{% block tbody-rows %}
    {% for item in p %}
    <tr><td><input type="checkbox" name="record_ids" value="{{ item.id }}" /></td>
        <td><a href="{% url 'mobile-os-update' item.id %}">{{ item.name }}</a></td></tr>
    {% empty %}
    <tr><td colspan="2">No Data Available.</td></tr>
    {% endfor %}
{% endblock %}
