{% extends 'layout.html' %}
{% block content %}
    {% if form.errors %}
    <div class="alert alert-messages alert-danger">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        {{ form.non_field_errors }}    
    </div>
    {% endif %}

    <div class="pad-top">
        <div class="panel panel-flat">
            <div class="panel-heading">
                {% if form.instance.id %}Update{% else %}Add{% endif %} Person
            </div>
            
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6{%if form.first_name.errors %} has-error{% endif %}">
                                <label for="id_first_name" class="form-label-lg">First Name </label>
                                <div class="form-value-md">{{ form.first_name }}</div>
                            </div>
                            <div class="form-row col-sm-6{%if form.last_name.errors %} has-error{% endif %}">
                                <label for="id_last_name" class="form-label-lg">Last Name </label>
                                <div class="form-value-md">{{ form.last_name }}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6{%if form.gender.errors %} has-error{% endif %}">
                                <label for="id_gender" class="form-label-lg">Gender </label>
                                <div class="form-value-sm">{{ form.gender }}</div>
                            </div>                        
                            <div class="form-row col-sm-6{%if form.official_status.errors %} has-error{% endif %}">
                                <label for="id_official_status" class="form-label-lg">Status </label>
                                <div class="form-value-sm">{{ form.official_status }}</div>
                            </div>
                        </div>
                        <div class="form-row-group">
                            <div class="form-row col-md-offset-6 col-sm-6{%if form.location.errors %} has-error{% endif %}">
                                <label for="id_location" class="form-label-lg">Location </label>
                                <div class="form-value-sm">{{ form.location }}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6{%if form.email.errors %} has-error{% endif %}">
                                <label for="id_email" class="form-label-lg">Email </label>
                                <div class="form-value-md">{{ form.email }}</div>
                            </div>
                            <div class="form-row col-sm-6{%if form.mobile.errors %} has-error{% endif %}">
                                <label for="id_mobile" class="form-label-lg">Mobile #1 </label>
                                <div class="form-value-sm">{{ form.mobile }}</div>
                            </div>
                        </div>
                        <div class="form-row-group">
                            <div class="form-row col-md-offset-6 col-sm-6{%if form.mobile2.errors %} has-error{% endif %}">
                                <label for="id_mobile2" class="form-label-lg">Mobile #2 </label>
                                <div class="form-value-sm">{{ form.mobile2 }}</div>
                            </div>
                        </div>                        
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6">
                                <label class="form-label-lg">&nbsp;</label>
                                <button type="submit" class="btn btn-primary" name="btn_save">Save</button>
                                <button type="submit" class="btn btn-primary" name="btn_save_new">Save & New</button>
                                <button type="button" class="btn btn-default" name="btn_cancel"
                                        data-action-url="">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}