{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <h1>Membership Roles</h1>
    
    <div class="table-listing-ext">
    {% with p=record_list %}
        <form data-bind="table" method="post" action="{% url 'role-delete' %}"
              data-paging-numbers="{{p.paging_numbers}}">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    &nbsp;
                    <div class="btn-controls pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn-link" name="btn_add" title="Add Person" data-action-url="{% url 'role-insert' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                
                {% csrf_token %}
                <table class="table table-condensed">
                    <thead>
                        <tr><th><input type="checkbox" title="Toggle Selection" data-toggle="checked" data-target="record_ids" /></th>
                            <th>Name</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                    {% for item in p %}
                        <tr><td><input type="checkbox" name="record_ids" value="{{ item.id }}" /></td>
                            <td><a href="{% url 'role-update' item.id %}">{{ item.name }}</a></td>
                            <td>{{ item.description }}</td></tr>
                    {% empty %}
                        <tr><td colspan="3">No Data Available.</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% endwith %}
    </div>
{% endblock %}
{% block extra-scripts %}
    <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}
