{% extends 'layout.html' %}
{% block content %}
<div class="pad-top">
    <div class="panel panel-flat">
        <div class="panel-heading">
            Team Information
            
            <div class="btn-controls pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-link" name="btn_action" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'team-update' team.id %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                &nbsp; Update Team
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="label-group">
                <div class="label-row-group">
	                <div class="label-row col-xs-6">
	                    <label class="label-name">Code</label>
	                    <label class="label-value">{{ team.code }}</label>
	                </div>
                    <div class="label-row col-xs-6">
                        <label class="label-name">Name</label>
                        <label class="label-value">{{ team.name }}</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tabbed-control table-listing">
        <ul class="nav nav-flattabs">
            <li class="active"><a href="#members" data-toggle="tab">Members</a></li>
            <li><a href="#devices" data-toggle="tab">Devices</a></li>
        </ul>
        
        <div class="tab-content table-listing pad-top">
            <div id="members" class="tab-pane fade in active">
	            <div class="panel panel-flat">
		            <table class="table table-condensed">
		                <thead>
		                    <tr><th><input type="checkbox" /></th>
		                        <th>Name</th><th>Gender</th><th>Role</th>
		                        <th>Status</th><th>Device</th></tr>
		                </thead>
		                <tbody>
		                {% for m in team.members.all %}
		                {% empty %}
		                    <tr><td colspan="6">No Data Available.</td></tr>
		                {% endfor %}
		                </tbody>
		            </table>
	            </div>
            </div>
            
            <div id="devices" class="tab-pane fade table-listing">
                <div class="row">
                    <div class="col-md-4 pull-right">
                        <div class="panel panel-flat">
                            <div class="panel-heading">Select Device</div>
                            <div class="panel-body">
	                            <form class="form-inline pull-right" method="post" action="{% url 'team-device-add' team.id %}">
	                                {% csrf_token %}
	                                {{ devices_form.device }}
	                                <button type="submit" class="btn btn-primary" style="padding:3px 5px;">Add Device</button>
	                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 pull-left">
                        <form data-bind="table" method="post" action="{% url 'team-device-remove' team.id %}">
	                        {% csrf_token %}
	                        <div class="panel panel-flat">
	                            <div class="panel-heading">
	                                Team Devices
	                                <div class="btn-controls pull-right">
                                        <button type="button" class="btn-link del-link" name="btn_delete" title="Remove Selected Devices">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
	                                </div>
	                            </div>
	                            <table class="table table-condensed">
	                                <thead>
	                                   <tr><th><input type="checkbox" title="Toggle Selection" data-toggle="checked" data-target="record_ids" /></th>
	                                       <th>Label</th><th>Form Factor</th><th>Brand</th></tr>
                                    </thead>
                                    <tbody>
                                    {% for d in team.devices.all %}
                                        <tr><td><input type="checkbox" name="record_ids" value="{{ d.id }}" /></td>
                                            <td>{{ d.label }}</td>
                                            <td>{{ d.get_form_factor_display }}</td>
                                            <td>{{ d.brand }}</td></tr>
                                    {% empty %}
                                        <tr><td colspan="4">No Data Available.</td></tr>
                                    {% endfor %}
                                    </tbody>
	                            </table>
	                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
