{% extends 'core/org-form.html' %}

{% block heading %}
    {%if form.instance.id %}Update{% else %}Add{% endif %} Office
{% endblock %}

{% block form-buttons %}
    <button type="submit" class="btn btn-primary" name="btn_save">Save</button>
    {% if not form.instance.id %}
    <button type="submit" class="btn btn-primary" name="btn_save_new">Save & New</button>
    {% endif %}
    <button type="button" class="btn btn-default"  name="btn_cancel"
            data-action-url="{% url 'org-info' %}">Cancel</button>
{% endblock %}
