{% extends 'layout.html' %}

{% block content %}
    {% if form.errors %}
    <div class="alert alert-messages alert-danger">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        {{ form.non_field_errors }}    
    </div>
    {% endif %}

	<div class="pad-top">
	    <div class="panel panel-flat">
            <div class="panel-heading">
                {% block heading %}Update Organization Information{% endblock %}
            </div>
            
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
	                        <div class="form-row col-sm-6{%if form.name.errors %} has-error{% endif %}">
		                        <label for="name" class="form-label">Name </label>
		                        <div class="form-value">{{ form.name }}</div>
	                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
	                        <div class="form-row col-sm-6{%if form.email.errors %} has-error{% endif %}">
	                            <label for="email" class="form-label">Email</label>
	                            <div class="form-value">{{ form.email }}</div>
	                        </div>
	                        <div class="form-row col-sm-6{%if form.url.errors %} has-error{% endif %}">
	                            <label for="url" class="form-label">Url</label>
	                            <div class="form-value">{{ form.url }}</div>
	                        </div>                        
	                    </div>
                        <div class="form-row-group">
	                        <div class="form-row col-sm-6">
	                            <label for="phone" class="form-label">Phone </label>
	                            <div class="form-value-md">{{ form.phone }}</div>
	                        </div>
	                    </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
		                    <div class="form-row col-sm-6">
		                        <label for="street1" class="form-label">Street 1</label>
		                        <div class="form-value">{{ form.street1 }}</div>
		                    </div>
		                    <div class="form-row col-sm-6">
		                        <label for="street2" class="form-label">Street 2</label>
		                        <div class="form-value">{{ form.street2 }}</div>
		                    </div>
		                </div>
                        <div class="form-row-group">
                            <div class="form-row col-sm-6{%if form.city.errors %} has-error{% endif %}">
                                <label for="city" class="form-label">City</label>
                                <div class="form-value-md">{{ form.city }}</div>
                            </div>
                            <div class="form-row col-sm-6{%if form.state.errors %} has-error{% endif %}">
                                <label for="state" class="form-label">State</label>
                                <div class="form-value-md">{{ form.state }}</div>
                            </div>
                        </div>		
                        <div class="clearfix"></div>                
                    </div>
                    
                    <div class="form-group-ext divider">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6">
	                            <label for="note" class="form-label valign-top">Note</label>
	                            <div class="form-value">{{ form.note }}</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="form-group-ext">
                        <div class="form-row-group">
                            <div class="form-row col-sm-6">
                                <label class="form-label">&nbsp;</label>
                                {% block form-buttons %}
                                <button type="submit" class="btn btn-primary" name="btn_save">Save</button>
                                <button type="button" class="btn btn-default"  name="btn_cancel"
                                        data-action-url="{% url 'org-info' %}">Cancel</button>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
	    </div>
	</div>    
{% endblock %}
