{% extends 'base.html' %}
{% load staticfiles %}
{% block body-class %}n-adm{% endblock %}
{% block content %}
    <script id="config" type="text/json">
        {
            "apiRoot": "{{ api_root }}",
            "survey": {
                "apiRoot": "{{ survey_api_root }}",
                "authApiRoot": "{{ survey_auth_api_root }}" 
            }
        }
    </script>
{% endblock %}
{% block script-extra %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/views.js' %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
{% endblock %}
