{% extends 'base.html' %}
{% load staticfiles compress %}
{% block body-class %}adm{% endblock %}
{% block content %}
    <script id="config" type="text/json">
        {
            "apiRoot": "{{ api_root }}",
            "survey": {
                "apiRoot": "{{ survey_api_root }}",
                "authApiRoot": "{{ survey_auth_api_root }}" 
            }
        }
    </script>
{% endblock %}
{% block script-extra %}{% compress js %}
    {{ block.super }}
    <script src="{% static 'js/admin/models.js' %}"></script>
    <script src="{% static 'js/admin/collections.js' %}"></script>
    <script src="{% static 'js/admin/views.js' %}"></script>
    <script src="{% static 'js/admin/router.js' %}"></script>
{% endcompress %}{% endblock %}
