{% extends 'base.html' %}
{% load staticfiles %}
{% block body-class %}adm{% endblock %}
{% block messages %}{% endblock %}
{% block content %}
    {% block side-pane %}
    <div class="side-pane pull-left">
        <ul class="nav nav-stacked nav-nested">
        {% for item in menu.children %}
            {% include 'snippets/app_menu_item.html' with item=item %}
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
    {% block content-pane-wrapper %}
    <div class="content-pane">
        {% include 'snippets/messages.html' %}
        {% block content-pane %}{% endblock %}
    </div>
    {% endblock %}
    <script id="config" type="text/json">
        {"apiRoot": "{{ api_root }}"{% block config-extra %}{% endblock %}}
    </script>
{% endblock %}