{% extends 'skeleton.html' %}
{% load staticfiles %}
{% block skeleton-content %}
    <div class="navbar navbar-default navbar-fixed-top light-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home-page' %}">CENTrak</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    {% include 'snippets/authd_nav_items.html' %}
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
                    <li class="sep">|</li>
                    <li><a href="{% url 'register' %}"><i class="fa fa-w fa-male"></i> Register</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated and not menu.is_admin_view %}
    <nav class="header light-shadow header-fixed-top">
        <div class="container">
            <div class="header-title">
                <h1 class="small">{% block header-title %}{% endblock %}</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="header-body">
                <ul class="nav nav-tabs nav-flattabs">
                {% for item in menu.children %}
                    {% include 'snippets/app_menu_item.html' with item=item %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endif %}
    {% block content-wrapper %}
    <div id="content-wrapper">
        <div class="container">
        {% block messages %}{% include 'snippets/messages.html' %}{% endblock %}
        {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    <footer>
        <div class="container">
            <div class="legal-info">
                Copyright &copy; 2015-{{ current_date|date:"Y" }}, <a href="http://kedco.ng">KEDCO</a>
                &nbsp; | &nbsp;
                <span>
                    Made with <i class="fa fa-heart"></i> by KEDCO ICT Team
                </span>
            </div>
        </div>
    </footer>
{% endblock %}
{% block script-extra %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/models.js' %}"></script>
    <script src="{% static 'js/collections.js' %}"></script>
    <script src="{% static 'js/views.js' %}"></script>
{% endblock %}