    <script type="text/template" id="view-template">
        <div class="header-strip">
            <h3 class="text"><%- title.toUpperCase() %></h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default edit" title="Edit Info" data-toggle="tooltip">
                    <i class="fa fa-md fa-edit"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body table-form">
                <table class="table table-stripped info">
                    <tbody>
                        <tr><td><b>Name</b></td><td>:</td>
                            <td><%- item.get('name') %></td></tr>
                        <tr><td><b>Phone</b></td><td>:</td>
                            <td><%- item.get('phone') %></td></tr>
                        <tr><td><b>Email</b></td><td>:</td>
                            <td><%- item.get('email') %></td></tr>
                        <tr><td><b>Website</b></td><td>:</td>
                            <td><%- item.get('website') %></td></tr>
                        <tr><td><b>Address</b></td><td>:</td>
                            <td><%- item.getFullAddress() %></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="form-template">
        <form method="post" onsubmit="event.preventDefault();">
        <div class="header-strip">
            <h3 class="text"><%- title.toUpperCase() %></h3>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Name</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="name" class="name form-control input-sm" value="<%- item.get('name') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Phone</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="phone" class="phone form-control input-sm" value="<%- item.get('phone') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Email</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="email" class="email form-control input-sm" value="<%- item.get('email') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Website</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="website" class="website form-control input-sm" value="<%- item.get('website') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <span class="col-sm-10" style="color:grey"><b>ADDRESS INFO</b></span>
                    <hr style="margin-bottom:5px"/>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Street</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="addr_street" class="addr_street form-control input-sm" value="<%- item.get('addr_street') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Town/City</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="addr_town" class="addr_town form-control input-sm" value="<%- item.get('addr_town') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Postal Code</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" name="postal_code" class="postal_code form-control input-sm" value="<%- item.get('postal_code') %>" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">State</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select name="addr_state" type="text" class="addr_state form-control input-sm">
                            <option value=""></option>
                            <% _(ext.states).each(function(s) { %>
                            <option value="<%- s.id %>" <% if (item.get('addr_state') === s.id) { %> selected="selected" <%} %>><%- s.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <button class="save btn btn-sm btn-primary">Update</button>
                        <button class="cancel btn btn-sm btn-default">Cancel</button>
                    </div>
                    <input type="hidden" name="id" class="id" value="<%- item.get('id') %>" />
                </div>
            </div>
        </div>
        </form>
    </script>
    <script type="text/template" id="list-template">
        <div class="header-strip">
            <h3 class="text"><%- title.toUpperCase() %></h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default add" title="Add Region" data-toggle="tooltip">
                    <i class="fa fa-md fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body table-stripped">
                <table class="table table-stripped info">
                    <tbody>
                    <% if (items && items.length > 0) { %>
                        <% _(items.models).each(function(item) {%>
                        <tr><td style="width:30px"><i class="fa fa-md fa-building-o"></i></td>
                            <td style="width:60px"><a href="#/<%- item.get('code') %>/"><%- item.get('code') %></a></td>
                            <td><%- item.get('name') %></td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>