{% extends 'elco/station/detail-base.html' %}
{% load core_tags elco_core_tags elco_network_tags %}
{% block content-extra %}
    <div class="tabbed-control table-listing">
      <ul class="nav nav-flattabs">
      {% for label in station.asset_labels %}
        <li {% ifequal asset_type_name label %}class="active"{% endifequal %}><a href="{{ request.path|make_station_asset_list_url:label }}">{{ label|capfirst }}</a></li>
      {% endfor %}
      </ul>
      
      <div class="tab-content table-listing pad-top">
        <div class="tab-pane fade in active table-listing">
        {% paginate_records asset_list as p %}
          <form data-bind="table" method="post" action="{{ request.path|make_station_asset_action_url:"delete" }}">
          {% csrf_token %}
            <div class="panel panel-flat">
              <div class="panel-heading">
                &nbsp;
                <div class="btn-controls pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn-link" name="btn_add" title="Add" data-action-url="{{ request.path|make_station_asset_action_url:"create" }}">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </div>
                  <button type="button" class="btn-link del-link" name="btn_delete" title="Remove Selected">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
              
              {% get_station_asset_table_fields_with_model station asset_type_name as result %}
              {% with field_names=result|first model=result|last base_url=request.path|make_station_asset_action_url:"" %}
                {% include '_table.html' with field_names=field_names model=model records=p item_base_url=base_url %} 
              {% endwith %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
