{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="pad-top">
    <div class="panel panel-flat">
      <div class="panel-heading">
        {% if form.instance.id %}Update{% else %}Add{% endif %} {{station_type_name|slice:":-1"|capfirst}} Station
      </div>
      
      <div class="panel-body">
        <form method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group-ext">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.code.errors %} has-error{% endif %}">
                <label for="id_code" class="form-label-xxlg">Code:</label>
                <div class="form-value-md">{{ form.code|add_class:"form-control input-sm" }}</div>
              </div>
              <div class="form-row col-sm-6{% if form.name.errors %} has-error{% endif %}">
                <label for="id_name" class="form-label-xxlg">Name:</label>
                <div class="form-value-md">{{ form.name|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
            
          <div class="form-group-ext divider">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.voltage_ratio.errors %} has-error{% endif %}">
                <label for="id_voltage_ratio" class="form-label-xxlg">Voltage Ratio:</label>
                <div class="form-value-md">{{ form.voltage_ratio|add_class:"form-control input-sm" }}</div>
              </div>
              <div class="form-row col-sm-6{% if form.is_dedicated.errors %} has-error{% endif %}">
                <label for="id_is_dedicated" class="form-label-xxlg">Dedicated:</label>
                <div class="form-value-md">{{ form.is_dedicated }}</div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
            
          {% ifnotequal station_type_id "T" %}
          <div class="form-group-ext divider">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.source_feeder.errors %} has-error{% endif %}">
                <label for="id_source_feeder" class="form-label-xxlg">Source Feeder:</label>
                <div class="form-value-md">{{ form.source_feeder|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          {% endifnotequal %}
          
          <div class="form-group-ext">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.address_line1.errors %} has-error{% endif %}">
                <label for="id_address_line1" class="form-label-xxlg">Address Line #1:</label>
                <div class="form-value-md">{{ form.address_line1|add_class:"form-control input-sm" }}</div>
              </div>
              <div class="form-row col-sm-6{% if form.address_line2.errors %} has-error{% endif %}">
                <label for="id_address_line2" class="form-label-xxlg">Address Line #2:</label>
                <div class="form-value-md">{{ form.address_line2|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          
          <div class="form-group-ext">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.city.errors %} has-error{% endif %}">
                <label for="id_city" class="form-label-xxlg">City:</label>
                <div class="form-value-md">{{ form.city|add_class:"form-control input-sm" }}</div>
              </div>
              <div class="form-row col-sm-6{% if form.state.errors %} has-error{% endif %}">
                <label for="id_state" class="form-label-xxlg">State:</label>
                <div class="form-value-md">{{ form.state|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
            
          <div class="form-group-ext divider">
            <div class="form-row-group">
              <div class="form-row col-sm-6{% if form.date_commissioned.errors %} has-error{% endif %}">
                <label for="id_date_commissioned" class="form-label-xxlg">Date Commissioned:</label>
                <div class="form-value-md">{{ form.date_commissioned|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
            
          <div class="form-group-ext divider">
            <div class="form-row-group">
              <div class="form-row{% if form.notes.errors %} has-error{% endif %}">
                <label for="id_notes" class="form-label-xxlg">Notes:</label>
                <div class="form-value-md">{{ form.notes|add_class:"form-control input-sm" }}</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
            
          <div class="form-group-ext">
            <div class="form-row-group">
              <div class="form-row col-sm-6">
                <label class="form-label-xxlg">&nbsp;</label>
                <button type="submit" class="btn btn-primary" name="btn_save">Save</button>
              {% if not form.instance.id %}
                <button type="submit" class="btn btn-primary" name="_save_addnew">Save & New</button>
              {% endif %}
                <a type="button" class="btn btn-default" name="btn_cancel"
                        href=".">Cancel</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
