{% extends 'layout.html' %}
{% load static core_tags elco_core_tags elco_network_tags %}
{% block content %}
  <h1>{{ station_type_name|upper|slice:":-1" }} STATIONS</h1>
  <div class="table-listing-ext">
    {% paginate_records records as p %}
    <form data-bind="table" method="post" action="{% url 'station-multi-delete' station_type_name %}"
          data-paging-numbers="{{ p.paging_numbers }}">
      <div class="panel panel-flat">
        <div class="panel-heading">
            &nbsp;
            <div class="btn-controls pull-right">
              <div class="btn-group">
                <button type="button" class="btn-link" name="btn_add" title="Add Station" data-action-url="{% url 'station-create' station_type_name %}">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
              <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
        </div>
        
        {% get_station_table_fields_with_model station_field_id as result %}
        {% with field_names=result|first model=result|last %}
          {% include '_table.html' with field_names=field_names model=model records=p %}
        {% endwith %}
      </div>
    </form>
  </div>
{% endblock %}
{% block name %}
  <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}
