@charset "utf-8";
@import "../../bootstrap-3.3.5/less/variables.less";
@import "../../bootstrap-3.3.5/less/mixins.less";

@import "./components/navs.less";
@import "./components/pagination.less";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Regular.ttf') format('truetype')
}


html,
body {
    font-family: Roboto;
    font-weight: normal;
    font-size: 11pt;    
    padding-top: 50px;
    padding-bottom: 30px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Economica;
    font-weight: 1000;
}

h4 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.btn-link {
    border: none;
    background-color: none;
}
    
.del-link {
    color: @brand-danger;
}

.navbar-default {
    background-color: #d8d8d8;
    border-color: #c7c7c7;
    
    .navbar-brand {
        color: #2b2b2b;
        font-size: 22px;
    }
    
    .navbar-nav > li > .btn {
        color: #222222;
        font-size: 12pt;
    }
}

.light-shadow {
    box-shadow: 0px 1px 5px #888888;
}

.header {
    margin-top: -50px;
    background-color: #e9e9e9;
    
    h1.small {
        font-family: Economica;
        font-weight: 100;
        font-size: 20pt;
        color: #444;
        margin: 0;
        padding: 15px 0px 10px;
    }
    
    a {
        color: #fff;
    }
    
    .header-controls {
        padding-top: 10px;
    }
    
    .nav {
        margin: 0px auto 5px;
        
        li > a {
            color: @brand-primary;
        }
    }
}

.alert-messages {
    margin-top: 20px;
}

.table-listing {
    
    .panel {
        padding-right: 1px;
        
        table {
            margin-left: 1px;
        }
        
        th:nth-child(1),
        td:nth-child(1) {
            width: 10px;        
        }
        
        thead, tfoot {
            background-color: @table-bg-hover;
            tr > td, tr > th {
                font-weight: normal;
            }
        }        
        
        .btn-controls {
            .btn-group {
                margin-top: -5px;
            }
            .btn-link {
                padding: 0px;
            }
            .caret {
                margin-left: -2px;
            }
        }
    }
}

.form-horizontal {
    .form-group {
        margin-bottom: 7px;
    }
    
    .control-label {
        font-size: 10pt;
        padding-top: 3px;
        padding-right: 0px;
    }
    
    .btn-controls {
        margin-top: 15px;
    }
    
    .hr-line {
        margin: 0 auto;
        padding: 0px;
        
        hr  {
            margin: 5px auto 13px;
        }
    }
}

