@charset "utf-8";
@import "../../bootstrap-3.3.5/less/variables.less";
@import "../../bootstrap-3.3.5/less/mixins.less";

@import "./components/navs.less";
@import "./components/pagination.less";
@import "./components/panel-flat.less"; 


/*****************************************************************************
 * Main Style
 *****************************************************************************/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Regular.ttf') format('truetype')
}


html,
body {
    font-family: Roboto;
    font-weight: normal;
    font-size: 11pt;    
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Economica;
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.container {
    width: 860px;
}

.pad-top {
    padding-top: 20px;
}

.dropdown-menu {
    li > span {
        display: block;
        padding: 2px 15px;
    }
}

.btn-link {
    border: none;
    background-color: none;
}
    
.del-link {
    color: @brand-danger;
}

.navbar-default {
    background-color: #d8d8d8;
    border-color: #c7c7c7;
    
    .navbar-brand {
        color: #2b2b2b;
        font-size: 22px;
    }
    
    .navbar-nav > li > .btn {
        color: #222222;
        font-size: 12pt;
    }
}

.light-shadow {
    box-shadow: 0px 1px 5px #888888;
}

.header-fixed-top {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 100px;
    z-index: 1020;
}

.header {
    margin-top: -55px;
    background-color: #e9e9e9;
    
    .header-title {
        float: left;
    }    
    
    .header-controls {
        float: right;
        padding-top: 15px;
    }
        
    h1.small {
        font-family: Economica;
        font-weight: 100;
        font-size: 16pt;
        color: #444;
        margin: 0;
        padding: 15px 0px 10px;
    }
    
    a {
        color: #fff;
    }
    
    .nav {
        margin: 0px auto 5px;
        
        li > a {
            color: @brand-primary;
            padding: 2px 15px;
        }
    }
}

.alert-messages {
    margin-top: 20px;
}

.table-listing,
.table-listing-ext {  
    .panel {
        padding-right: 1px;
        
        table {
            margin-left: 1px;
        }
        
        th:nth-child(1),
        td:nth-child(1) {
            width: 10px;        
        }      
    }
    
    .btn-controls {
        .btn-group {
            margin-top: -5px;
        }
        .btn-link {
            padding: 0px;
        }
        .caret {
            margin-left: -2px;
        }
    }    
}

.table-listing {
    .panel {
        thead, tfoot {
            background-color: @table-bg-hover;
            tr > td, tr > th {
                font-weight: normal;
            }
        }        
    }
}

.form-horizontal {
    .form-group {
        margin-bottom: 7px;
    }
    
    .control-label {
        font-size: 10pt;
        padding-top: 3px;
        padding-right: 0px;
    }
    
    .btn-controls {
        margin-top: 15px;
    }
    
    .hr-line {
        margin: 0 auto;
        padding: 0px;
        
        hr  {
            margin: 5px auto 13px;
        }
    }
}

 
/*****************************************************************************
 * Label Group
 *****************************************************************************/

.label-group,
.form-group-ext {
    padding-left: 7px;
    padding-right: 7px;
    
    &.divider {
        border-bottom: solid 1px @panel-default-border;
        margin-bottom: 7px;
    }
}

.label-row {
    &.col-xs-6 {
        padding: 0px;
    }
    
    .label-name,
    .label-name-lg {
        display: inline-block;
        width: 60px;
        font-size: 10pt;
        font-weight: bold;
        border-right: dotted 1px #ddd;
    }
    
    .label-name-lg {
        width: 85px;
    }
    
    .label-value {
        display: inline-block;
        margin-left: 3px;
        font-weight: normal;
    }
}
   
.form-row-group {
    padding-bottom: 7px;
    display: block;
}

.form-row {
    
    &.col-sm-6 {
        padding: 0px;
    }
    
    &.has-error {
        .form-label,
        .form-label-lg {
            color: @brand-danger;
        }
    }
    
    .form-label,
    .form-label-lg {
        display: inline-block;
        width: 60px;
        font-size: 10pt;
        font-weight: bold;
        text-align: right;
        padding-right: 7px;
        border-right: dotted 1px #ddd;
    }
    
    .form-label-lg {
        width: 85px;
    }
    
    .form-control {
        display: inline;
    }
    
    .form-value,
    .form-value-md,
    .form-value-sm {
        display: inline-block;
        margin-left: 3px;
        margin-bottom: 7px;
        width: 80%;
    }
    
    .form-value-md {
        width: 70%;
    }
    
    .form-value-sm {
        width: 40%;
    }
    
    .valign-top {
        vertical-align: top;
    }    
}


/*
 * Select2
 *****************************************************************************/
 .select2-container {
     width: 90%;
 }
 