{% extends 'layout.html' %}
{% load static elco_core_tags elco_network_tags %}
{% block content %}
  <h1>TRANSFORMER RATINGS</h1>
  
  <div class="table-listing-ext">
    {% with p=records %}
    <form data-bind="table" method="post" action="{% url 'rating-transformer-delete' %}"
          data-paging-numbers="{{ p.paging_numbers }}">
      <div class="panel panel-flat">
        <div class="panel-heading">
            &nbsp;
            <div class="btn-controls pull-right">
              <div class="btn-group">
                <button type="button" class="btn-link" name="btn_add" title="Add Rating" data-action-url="{% url 'rating-transformer-create' %}">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
              <button type="button" class="btn-link del-link" name="btn_delete" title="Delete Selection">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
        </div>
        
        {% get_rating_xfmr_table_fields_with_model as result %}
        {% with field_names=result|first model=result|last %}
          {% include '_table.html' with field_names=field_names model=model records=p %}
        {% endwith %}
      </div>
    </form>
    {% endwith %}
  </div>
{% endblock %}
{% block name %}
  <script src="{% static "js/datatable.js" %}"></script>
{% endblock %}
