{% load staticfiles %}
{% if request.user.is_staff %}
<li class="strip-admin">
    <a href="{% url 'admin-home' %}">
        <i class="fa fa-fw fa-lg fa-wrench"></i>
    </a>
</li>
<li class="sep">|</li>
{% endif %}
<li class="strip-notification">
    <a href="#">
        <i class="fa fa-fw fa-lg fa-bell-o"></i> 
        <span class="badge text-sm bg-danger">0</span>
    </a>
</li>
<li class="sep">|</li>
<li class="strip-user dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{# static 'img/avatar-default.jpg' #}" width="24" height="24" class="img-circle" />
        {{ request.user.get_short_name }}
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu wide-menu">
        <li><a href="#"><i class="fa fa-fw"></i> Edit Profile</a></li>
        <li><a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Log Out</a></li>
    </ul>
</li>