    <div class="col-sm-3 rd-l-pad">
        <form method="post">
            <div class="search-panel">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="q" placeholder="Search" />
                    <span class="input-group-addon date">
                        <i class="fa fa-fw fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body rd-r-pad rd-t-pad rd-b-pad" style="padding-left:7px;">
                <div class="datepicker-inline" data-date="{{ filter.form.date_digitized.value }}"></div>
            </div>
        </div>
    </div>