    <div class="col-sm-3 rd-l-pad">
        <form method="post">
            <div class="search-panel">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="q" placeholder="Search" />
                    <span class="input-group-addon date">
                        <i class="fa fa-fw fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body rd-r-pad rd-t-pad rd-b-pad" style="padding-left:7px;">
                <div class="datepicker-inline" data-date="{{ filter.form.date_digitized.value }}"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <ul class="nav nav-tabs nav-flattabs">
                <li class="active"><a href=".tab-summary" data-toggle="tab">Summary</a></li>
                <li><a href=".tab-history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active tab-summary">
                    <div class="widget widget-stats-strip">
                        <div class="strip-title">Total</div>
                        <div class="strip-numbers">
                            <span class="strip-text lg">0,000</span>
                            <span class="strip-text xs pull-right">95%</span>
                        </div>
                        <div class="strip-numbers bottom">
                            <span class="strip-text sm b">000,000</span> /
                            <span class="strip-text xs">000,000</span> /
                            <span class="strip-text xs">000,000</span>
                        </div>
                    </div>
                    <div class="widget widget-stats-strip">
                        <div class="strip-title blue">Today</div>
                        <div class="strip-numbers">
                            <span class="strip-text lg">0,000</span>
                            <span class="strip-text xs pull-right">95%</span>
                        </div>
                        <div class="strip-numbers bottom">
                            <span class="strip-text sm b">000,000</span> /
                            <span class="strip-text xs">000,000</span> /
                            <span class="strip-text xs">000,000</span>
                        </div>
                    </div>
                    <div class="widget widget-stats-strip">
                        <div class="strip-title">This Week</div>
                        <div class="strip-numbers">
                            <span class="strip-text lg">0,000</span>
                            <span class="strip-text xs pull-right">95%</span>
                        </div>
                        <div class="strip-numbers bottom">
                            <span class="strip-text sm b">000,000</span> /
                            <span class="strip-text xs">000,000</span> /
                            <span class="strip-text xs">000,000</span>
                        </div>
                    </div>
                    <div class="widget widget-stats-strip">
                        <div class="strip-title">This Month</div>
                        <div class="strip-numbers">
                            <span class="strip-text lg">0,000</span>
                            <span class="strip-text xs pull-right">95%</span>
                        </div>
                        <div class="strip-numbers bottom">
                            <span class="strip-text sm b">000,000</span> /
                            <span class="strip-text xs">000,000</span> /
                            <span class="strip-text xs">000,000</span>
                        </div>
                    </div>                
                </div>
                <div class="tab-pane tab-history">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> Yesterday</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 2 Days Ago</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 3 Days Ago</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 4 Days Ago</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 20 Jan, 2017</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 19 Jan, 2017</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 18 Jan, 2017</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 17 Jan, 2017</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 16 Jan, 2017</td><td>0,000</td></tr>
                            <tr><td><i class="fa fa-fw fa-clock-o"></i> 13 Jan, 2017</td><td>0,000</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>