    {% load humanize %}
    <div class="col-sm-3 rd-l-pad">
        <form method="post">
            <div class="search-panel">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="q" placeholder="Search" />
                    <span class="input-group-addon date">
                        <i class="fa fa-fw fa-search"></i>
                    </span>
                </div>
            </div>
        </form>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body rd-r-pad rd-t-pad rd-b-pad" style="padding-left:7px;">
                <div class="datepicker-inline" data-date="{{ filter.form.date_digitized.value }}"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <ul class="nav nav-tabs nav-flattabs">
                <li class="active"><a href=".tab-summary" data-toggle="tab">Summary</a></li>
                <li><a href=".tab-history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active tab-summary">
                    <div class="widget strip-notice">
                        <div class="strip-text xx text-right">Total / Existing / New</div>
                    </div>
                {% for stat in stats.summary %}
                    <div class="widget widget-stats-strip">
                        <div class="strip-title {% ifequal stat.0 'this day' %}blue{% endifequal %}">{{ stat.0 }}</div>
                        <div class="strip-numbers">
                            <span class="strip-text lg" title="(Regional) Total">{{ stat.1.region|default:0|intcomma }}</span>
                            <span class="strip-text xs pull-right" title="User's Percentage In Total">{{ stat.1.perc|default:0 }}%</span>
                        </div>
                        <div class="strip-numbers bottom">
                            <span class="strip-text sm b" title="(User Entries) Total">{{ stat.1.total|default:0|intcomma }}</span> /
                            <span class="strip-text xs" title="(User Entries) Existing">{{ stat.1.existing|default:0|intcomma }}</span> /
                            <span class="strip-text xs" title="(User Entries) New">{{ stat.1.new|default:0|intcomma }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="tab-pane tab-history">
                    <table class="table table-striped table-condensed">
                        <tbody>
                        {% for row in stats.history %}
                            <tr><td><i class="fa fa-fw fa-clock-o"></i>{{ row.0|naturalday}}</td>
                                <td>{{ row.1|default:0|intcomma}}</td></tr>
                        {% empty %}
                            <tr><td>No records found!</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>