{% load humanize %}
<style type="text/css">
    @media (min-width: 992px) {
        .chart-all-time, .chart-today { height: 366px; }
        .chart-today > div { height: 100%; }
    }
</style>
<div class="row row-condensed">
    <div class="col-md-3 col-sm-6">{% with stat=stats.summary.0 %}
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-fw fa-globe"></i></div>
            <div class="stats-title">CAPTURES - {{ stat.0 }}</div>
            <div class="stats-number">{{ stat.2|intcomma }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width:{{ stat.3 }}%;"></div>
            </div>
            <div class="stats-desc">KEDCO Wide <span class="scale">({{ stat.3 }}% of {{ stat.1|intcomma }})</span></div>
        </div>{% endwith %}
    </div>
    <div class="col-md-3 col-sm-6">{% with stat=stats.summary.1 %}
        <div class="widget widget-stats bg-orange">
            <div class="stats-icon"><i class="fa fa-fw fa-globe"></i></div>
            <div class="stats-title">CAPTURES - {{ stat.0 }}</div>
            <div class="stats-number">{{ stat.2|intcomma }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width:{{ stat.3 }}%;"></div>
            </div>
            <div class="stats-desc">KEDCO Wide <span class="scale">({{ stat.3 }}% of {{ stat.1|intcomma }})</span></div>
        </div>{% endwith %}
    </div>
    <div class="col-md-3 col-sm-6">{% with stat=stats.summary.2 %}
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-fw fa-globe"></i></div>
            <div class="stats-title">CAPTURES - {{ stat.0 }}</div>
            <div class="stats-number">{{ stat.2|intcomma }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width:{{ stat.3 }}%;"></div>
            </div>
            <div class="stats-desc">KEDCO Wide <span class="scale">({{ stat.3 }}% of {{ stat.1|intcomma }})</span></div>
        </div>{% endwith %}
    </div>
    <div class="col-md-3 col-sm-6">{% with stat=stats.summary.3 %}
        <div class="widget widget-stats bg-black">
            <div class="stats-icon"><i class="fa fa-fw fa-globe"></i></div>
            <div class="stats-title">CAPTURES - {{ stat.0 }}</div>
            <div class="stats-number">{{ stat.2|intcomma }}</div>
            <div class="stats-progress progress">
                <div class="progress-bar" style="width:{{ stat.3 }}%;"></div>
            </div>{% with loc=request.user.profile.location %}
            <div class="stats-desc">REGION: {{ loc.short_name|default:'[?]' }} <span class="scale">({{ stat.3 }}% of {{ stat.1|intcomma }})</span></div>{% endwith %}
        </div>{% endwith %}
    </div>
</div>
<div class="row row-condensed">
    <div class="col-md-8">
        <div class="widget-chart bg-white">
            <div class="widget-chart-content chart-all-time">
                <h4 class="chart-title">
                    Analytics <small><b>All captures</b> by category...</small>
                </h4>
                <canvas id="captures-ever"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget-chart bg-white">
            <div class="widget-chart-content chart-today">
                <h4 class="chart-title">
                    Analytics <small>Captures made <b>TODAY ({% now "d M " %})</b></small>
                </h4>
                <div><canvas id="captures-today" style="max-width:100%; max-height:100%; height:350px;"></canvas></div>
            </div>
        </div>
    </div>
</div>
