{% load elco_core_tags elco_network_tags widget_tweaks %}
<form method="post" class="form-horizontal">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  
  <div class="form-group-ext">
  {% with form|visible_fields as visible_fields %}
  {% for names in visible_fields|make_fields_name_chunks_of:2 %}
    <div class="form-row-group">
    {% for name in names %}
      <div class="form-row col-sm-{% ifnotequal name 'notes' %}6{% endifnotequal %} {%if form.errors|lookup:name %}has-error{% endif %}">
        <label for="id_{{name}}" class="{{ label_class|default:"form-label-xxlg" }}">{{ form.instance|field_verbose_name:name }}</label>
        <div class="form-value-md">{{ visible_fields|lookup:name|add_class:"form-control input-sm"|attr:"rows:3" }}</div>
      </div>
    {% endfor %}
      <div class="clearfix"></div>
    </div>
  {% endfor %}
  {% endwith %}
  </div>
  
  <div class="form-group-ext">
    <div class="form-row-group">
      <div class="form-row col-sm-6">
        <label class="{{ label_class|default:"form-label-xxlg" }}">&nbsp;</label>
        <button type="submit" class="btn btn-primary" name="btn_save">Save</button>
      {% if not form.instance.id %}
        <button type="submit" class="btn btn-primary" name="_save_addnew">Save & New</button>
      {% endif %}
        <a type="button" class="btn btn-default" name="btn_cancel" href=".">Cancel</a>
      </div>
    </div>
  </div>
</form>