{% load elco_core_tags elco_network_tags %}
{% csrf_token %}
<table class="table table-condensed">
  <thead>
    <tr><th><input type="checkbox" title="Toggle Selection" data-toggle="checked" data-target="record_ids" /></th>
    {% for name in field_names %}<th>{{ model|field_verbose_name:name }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for item in records %}
    <tr><td><input type="checkbox" name="record_ids" value="{{ item.id }}" /></td>
        <td><a href="{{ item.id }}/">{{ item|field_value:field_names.0 }}</a></td>
    {% for name in field_names|slice:"1:" %}<td>{{ item|field_value:name }}</td>{% endfor %}</tr>
  {% empty %}
    <tr><td colspan="{{ field_names|length|add:1}}">No Data Available.</td></tr>
  {% endfor %}
  </tbody>
</table>