{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CENTrak {%  block title %}{% endblock %}</title>
    <link href="{% static "bootstrap-3.3.5/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "select2/css/select2.css" %}" rel="stylesheet">
    <link href="{% static "css/select2-bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    {% block extra-links %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.min.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
</head>
<body role="document">
    <nav class="navbar navbar-default navbar-fixed-top light-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">CENTrak</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                {%if not request.user.is_authenticated %}
                    <li><a class="btn btn-block" href="#">Login</a></li>
                {% endif %}
                </ul>
            </div>            
        </div>
    </nav>
    {% block header %}
    <div class="header light-shadow header-fixed-top">
        <div class="container">
            <div class="header-title">
                <h1 class="small">{% block header-title %}{% endblock %}</h1>
            </div>
            <div class="header-controls">
                {% include 'menu-list.html' %}
            </div>
        </div>
    </div>
    {% endblock %}
    
    {% block content-wrapper %}
    <div class="content">
        <div class="container" role="main">
	        {% block messages %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-messages alert-{{ message.extra_tags }}">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
	        {% endblock %}        
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block footer %}{% endblock %}
    
    <!-- le scripts -->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap-3.3.5/js/bootstrap.min.js" %}"></script>
    <script src="{% static "select2/js/select2.min.js" %}"></script>
    <script src="{% static "select2/js/select2.jquery_ready.js" %}"></script>    
    <script src="{% static "js/centrak.common.js" %}"></script>
    <script src="{% static "js/datatable.js" %}"></script>
    {% block extra-scripts %}{% endblock %}
</body>
</html>
