{% extends 'layout.html' %}

{% block content %}
	<div class="row">
        <div {% block cols-md-class %}class="col-md-8"{% endblock %}>
	    {% if messages %}
            {% for message in messages %}
	        <div class="alert alert-messages alert-{{ message.extra_tags }}">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
	            
	            {{ message }}
	        </div>
            {% endfor %}
        {% endif %}
	   	   
            {% block cols-md-content %}{% endblock %}
        </div>

        <div {% block cols-sm-class %}class="col-md-4"{% endblock %}>
            {% block cols-sm-content %}{% endblock %}
        </div>
	</div>
{% endblock %}
