{% extends 'base_admin.html' %}
{% block content %}
    <h2 class="sub-heading">Power Stations</h2>
    <div id="admin-ntwk-ps" class="app" data-r="adminPStation">
        <div class="alert hide"></div>
        <div id="l-content" class="col-md-6 rm-r-pad"></div>
        <div id="r-content" class="col-md-6 rm-r-pad"></div>
        <div class="loading text-center">
            <i class="fa fa-3x fa-pulse fa-spinner"></i>
        </div>
    </div>
    <script type="application/json" id="bootstrap">
        {"voltratio":{{ voltratio|safe }},
         "tstations":{{ tstations.to_json|safe }}, 
         "istations":{{ istations.to_json|safe }}}
    </script>
    <script type="text/template" id="station-template">
        <div class="header-strip">
            <h3 class="text"><%- title %> STATIONS</h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default add" title="Add Station" data-toggle="tooltip">
                    <i class="fa fa-md fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <table class="table table-stripped">
                    <tbody>
                    <% if (stations && stations.length > 0) { %>
                        <% _(stations.models).each(function(m) { %>
                        <tr><td><%- m.get('code') %></td>
                            <td><%- m.getFullname() %></td>
                            <td>0</td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="new-template">
        <div class="header-strip">
            <h3 class="text">NEW <%- title %> STATION</h3>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <div class="form-group clearfix">
                    <label class="col-sm-2 rm-r-pad">Code</label>
                    <div class="col-sm-10 rm-l-pad">
                        <input type="text" class="code form-control input-sm" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 rm-r-pad">Name</label>
                    <div class="col-sm-10 rm-l-pad">
                        <input type="text" class="name form-control input-sm" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-2 rm-r-pad">Voltage Ratio</label>
                    <div class="col-sm-10 rm-l-pad">
                        <select type="text" class="voltage_ratio form-control input-sm">
                            <option value=""></option>
                        <% _(voltratio).each(function(v) { %>
                            <option value="<%- v[0] %>"><%- v[1] %></option>
                        <% }) %>
                        </select>
                    </div>
                </div>
                <% if (type === 'i') { %>
                <div class="form-group clearfix">
                    <label class="col-sm-2 rm-r-pad">Source</label>
                    <div class="col-sm-10 rm-l-pad">
                        <input type="text" class="source form-control input-sm" />
                    </div>
                </div>
                <% } %>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10 rm-l-pad">
                        <button class="save btn btn-sm btn-primary">Save</button>
                        <button class="cancel btn btn-sm btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {{ block.super }}
{% endblock %}
