{% extends 'base_admin.html' %}
{% block content %}
    <h2 class="sub-heading">Projects</h2>
    <div id="admin-projects" class="app" data-r="adminProject">
        <div class="alert hide"></div>
        <div id="l-content" class="col-md-7 rm-r-pad"></div>
        <div id="r-content" class="col-md-5 rm-r-pad"></div>
        <div class="loading text-center">
            <i class="fa fa-3x fa-pulse fa-spinner"></i>
        </div>
    </div>
    <script type="application/json" id="bootstrap">
         {"choices": {{ choices|safe }},
          "stats": {{ stats|safe }},
          "projects": {{ projects.to_json|safe }}}
    </script>
    <script type="text/template" id="list-template">
        <div class="header-strip">
            <h3 class="text">PROJECT LIST</h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default add" title="Add Project" data-toggle="tooltip">
                    <i class="fa fa-md fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <table class="table table-stripped">
                    <tbody>
                    <% if (projects && projects.length > 0) { %>
                        <% _(projects.models).each(function(m) { %>
                        <tr><td><a href="#/<%- m.get('code') %>/"><%- m.get('name') %></a></td>
                            <td><span title="Total Captures" data-toggle="tooltip">
                                    <i class="fa fa-hashtag"></i>
                                    <%- Humanize.intComma(stats[m.get('code')].count) %>
                                </span></td>
                            <td><span title="XForms (Capture, Update)" data-toggle="tooltip">
                                    <i class="fa fa-md fa-file-text-o"></i>
                                    <%- m.get('xforms').length %>, 
                                    <%- m.get('uforms').length %>
                                </span></td>
                            <td class="text-right">
                                <i class="fa <%- m.getFaActive() %>" title="Active: <%- m.get('active') %>" data-toggle="tooltip"></i>
                            </td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="form-template">
        <div class="header-strip">
            <h3 class="text"><%- _.isEmpty(project)? "NEW PROJECT": editable? "UPDATE PROJECT": "PROJECT DETAIL" %></h3>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="panel-body">
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Code</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="code form-control input-sm"
                        <% if (!_.isEmpty(project)) { %> value="<%- project.get('code') || '' %>" <% } %><%- !editable? "readonly": "" %> />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Name</label>
                    <div class="col-sm-9 rm-l-pad">
                        <input type="text" class="name form-control input-sm"
                        <% if (!_.isEmpty(project)) { %> value="<%- project.get('name') || '' %>" <% } %><%- !editable? "readonly":"" %> />
                    </div>
                </div><% if (!_.isEmpty(project)) { %>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Status</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select class="status form-control input-sm" <%- !editable? "disabled":"" %>>
                            <option value=""></option> <% _(choices.status).each(function(e){ %>
                            <option value="<%- e[0] %>" <%- e[0]===project.get('status')? "selected":"" %>><%- e[1] %></option>
                            <% }); %>
                        </select>
                    </div>
                </div><% } %>
                <div class="form-group clearfix"> 
                    <label class="col-sm-3 rm-r-pad">Description</label>
                    <div class="col-sm-9 rm-l-pad">
                        <textarea type="text" class="description form-control input-sm" <%- !editable? "readonly":"" %>
                            ><%- _.isEmpty(project)? "": project.get('description') || "" %></textarea>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Capture Forms</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select multiple="multiple" class="2 xforms form-control input-sm" <%- !editable? "disabled":"" %>>
                            <option value=""></option><% _(choices.xforms).each(function(e) { %>
                            <option value="<%- e[0] %>" <% if (!_.isEmpty(project)) { %><%- _(project.get('xforms')).contains(e[0])? "selected":"" %> <% } %>><%- e[1] %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Update Forms</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select multiple="multiple" class="2 uforms form-control input-sm" <%- !editable? "disabled":"" %>>
                            <option value=""></option><% _(choices.uforms).each(function(e) { %>
                            <option value="<%- e[0] %>" <% if (!_.isEmpty(project)) { %><%- _(project.get('uforms')).contains(e[0])? "selected":"" %> <% } %>><%- e[1] %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Start Date</label>
                    <div class="col-sm-9 rm-l-pad">
                        <div class="input-group date">
                            <input type="text" class="date_started form-control input-sm"
                                   <% if (!_.isEmpty(project)) { %> value="<%- project.getDateStarted() %>" <% } %><%- !editable? "readonly":"" %> />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div><% if (!_.isEmpty(project)) { %>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">End Date</label>
                    <div class="col-sm-9 rm-l-pad">
                        <div class="input-group date">
                            <input type="text" class="date_ended form-control input-sm"
                                   <% if (!_.isEmpty(project)) { %> value="<%- project.getDateEnded() %>" <% } %><%- !editable? "readonly":"" %> />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div><% } %>
                <div class="form-group">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <label><input class="active" type="checkbox" 
                            <% if (!_.isEmpty(project)) { %> <%- project.get('active')? "checked":"" %> <% } %> <%- !editable? "disabled":"" %>/> Active</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <label><input class="auto_sync" type="checkbox" 
                            <% if (!_.isEmpty(project)) { %> <%- project.get('auto_sync')? "checked":"" %> <% } %> <%- !editable? "disabled":"" %>/> Sync Captures Automatically</label>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <% if (!_.isEmpty(project) && !editable) { %> <button class="edit btn btn-sm btn-primary">Edit</button> <% 
                        } else { %> <button class="save btn btn-sm btn-primary">Save</button> <% } %> 
                        <button class="cancel btn btn-sm btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {{ block.super }}
{% endblock %}
