{% extends 'base_admin.html' %}
{% load enum_tags %}
{% block content %}
    <h2 class="sub-heading">XForms</h2>
    <div class="app-view" data-view="adminXforms">
        <div id="local" class="col-md-7 rm-r-pad">
            <div class="header-strip">
                <h3 class="text">REGISTERED</h3>
            </div>
            <div class="search-strip row">
                <div class="col-md-7 rm-l-pad">
                    <div class="searchbox">
                        <form name="form-synced">
                            <input type="text" name="search" />
                            <button class="btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-5 text-right">
                    <div class="labeled-dropdown">
                        <span class="text">Show: </span>
                        <div class="dropdown" style="display: inline-block;">
                            <button class="btn btn-sm btn-slim dropdown-toggle" data-toggle="dropdown">
                                <i class="caret"></i> <span class="item-text">All</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="#">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-condensed flat-top">
                <div class="region panel-body">
                    <div class="text-center">
                        <i class="fa fa-3x fa-pulse fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="survey" class="col-md-5 rm-r-pad">
            <div class="header-strip">
                <h3 class="text">SURVEY PLATFORM</h3>
                <div class="buttons rm-r-margin">
                    <button class="btn btn-sm btn-slim btn-default register" title="Register Selected" data-toggle="tooltip">
                        <i class="fa fa-md fa-cloud-download"></i>
                    </button>
                    <button class="btn btn-sm btn-slim btn-default refresh" title="Refresh" data-toggle="tooltip">
                        <i class="fa fa-md fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="search-strip row">
                <div class="col-md-7 rm-l-pad">
                    <div class="searchbox">
                        <form class="form">
                            <input type="text" />
                            <button class="btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-info panel-condensed bg-info flat-top">
                <div class="region panel-body bg-info2">
                    <div class="text-center">
                        <i class="fa fa-3x fa-pulse fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/json" id="bootstrap">
        {{ xforms.object_list|jsonify|safe }}
    </script>
    <script type="text/html" id="local-template">
        <table class="table table-stripped">
            <tbody>
            <% if (xforms && xforms.length > 0) { %>
                <% _.each(xforms.models, function(f) { %>
                <tr <% if (!f.get('is_active')) { %>class="text-muted"<% } %>>
                    <td><%- f.get('title') %></td>
                    <td>0</td>
                    <td class="data-meta"><i class="fa fa-clock-o"></i>
                        <span title="Last Synced" data-toggle="tooltip"><%- f.getLastSynced() %></span>
                    </td>
                    <td class="data-meta">
                        <i class="fa <%- f.getFaSyncedBy() %>" title="Synced by: <%- f.get('synced_by') || 'unknown' %>" data-toggle="tooltip"></i>
                    </td></tr>
                <% }) %>
            <% } else { %>
                <tr><td>No data available.</td></tr>
            <% } %>
            </tbody>
        </table>
    </script>
    <script type="text/html" id="survey-template">
        <table class="table table-stripped">
            <tbody>
            <% if (xforms && xforms.length > 0) { %>
                <% _.each(xforms.models, function(f) { %>
                <tr><td><%- f.get('title') %></td>
                    <td><input type="checkbox" value="<%- f.get('id') %>" /></td></tr>
                <% }) %>
            <% } else { %>
                <tr><td>No data available.</td></tr>
            <% } %>
            </tbody>
        </table>
    </script>
    {{ block.super }}
{% endblock %}
