{% extends 'base_admin.html' %}
{% load enum_tags %}
{% block content %}
    <h2 class="sub-heading">XForms</h2>
    <div id="admin-xforms" class="app" data-r="adminXform">
        <div class="alert hide"></div>
        <div id="local" class="col-md-7 rm-r-pad"></div>
        <div id="survey" class="col-md-5 rm-r-pad"></div>
        <div class="loading text-center">
            <i class="fa fa-3x fa-pulse fa-spinner"></i>
        </div>
    </div>
    <script type="application/json" id="bootstrap">
        {"xforms": {{ xforms.to_json|safe }}, "stats": {{stats|safe}} }
    </script>
    <script type="text/template" id="local-xforms-template">
        <div class="header-strip">
            <h3 class="text">REGISTERED</h3>
        </div>
        <div class="panel panel-default panel-condensed flat-top">
            <div class="region panel-body">
                <table class="table table-stripped">
                    <tbody>
                    <% if (xforms && xforms.length > 0) { %>
                        <% _.each(xforms.models, function(f) { %>
                        <tr <% if (!f.get('active')) { %>class="text-muted"<% } %>>
                            <td><a href="#/<%- f.get('object_id') %>"><%- f.get('title') %></a></td>
                            <td><span title="Number of captures" data-toggle="tooltip">
                                    <i class="fa fa-hashtag"></i>
                                    <%- Humanize.intComma(f.getStat(stats, 'count')) %>
                                </span></td>
                            <td class="data-meta"><i class="fa fa-clock-o"></i>
                                <span title="Last Synced" data-toggle="tooltip"><%- f.getLastSynced() %></span>
                            </td>
                            <td class="data-meta">
                                <i class="fa <%- f.getFaSyncedBy() %>" title="Synced by: <%- f.get('synced_by') || 'unknown' %>" data-toggle="tooltip"></i>
                                <i class="fa <%- f.getFaActive() %>" title="Active: <%- f.get('active') %>" data-toggle="tooltip"></i>
                            </td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="survey-xforms-template">
        <div class="header-strip">
            <h3 class="text">SURVEY PLATFORM</h3>
            <div class="buttons rm-r-margin">
                <button class="btn btn-sm btn-slim btn-default register" title="Register Selected" data-toggle="tooltip">
                    <i class="fa fa-md fa-cloud-download"></i>
                </button>
                <button class="btn btn-sm btn-slim btn-default refresh" title="Refresh" data-toggle="tooltip">
                    <i class="fa fa-md fa-refresh"></i>
                </button>
            </div>
        </div>
        <div class="panel panel-info panel-condensed bg-info flat-top">
            <div class="region panel-body bg-info2">
                <table class="table table-stripped">
                    <tbody>
                    <% if (xforms && xforms.length > 0) { %>
                        <% _.each(xforms.models, function(f) { %>
                        <tr><td><%- f.get('title') %></td>
                            <td><input type="checkbox" value="<%- f.get('id') %>" /></td></tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td>No data available.</td></tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="xform-detail">
        <div class="header-strip">
            <h3 class="text">XFORM DETAIL</h3>
        </div>
        <div class="panel panel-default panel-condensed panel flat-top">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 rm-r-pad">Id String</label>
                    : <%- xform.get('id_string') %>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 rm-r-pad">Title</label>
                    : <%- xform.get('title') %>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 rm-r-pad">API Url</label>
                    : <%- xform.get('url') %>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 rm-r-pad">Sync Info</label>
                    : <span class="text-info">Last Synced</span> <%- xform.getLastSynced() %>
                      <span class="text-info">by</span> <%- xform.get('syncec_by') || 'unknown' %>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Description</label>
                    <div class="col-sm-9 rm-l-pad">
                        <textarea class="description form-control"><%- xform.get('description') %></textarea>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-sm-3 rm-r-pad">Type</label>
                    <div class="col-sm-9 rm-l-pad">
                        <select class="type form-control input-sm" required>
                            <option value=""></option>
                            <option value="C" <%- xform.get('type') === "C"? 'selected':'' %>>Capture XForm</option>
                            <option value="U" <%- xform.get('type') === "U"? 'selected':'' %>>Update XForm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <label><input class="active" type="checkbox" <%- xform.get('active')? 'checked':'' %>/> Active</label>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9 rm-l-pad">
                        <button class="update btn btn-sm btn-primary">Save Changes</button>
                        <button class="cancel btn btn-sm btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {{ block.super }}
{% endblock %}
