@charset "utf-8";
@import "../bower_comps/bootstrap/less/variables.less";


/*------------------------------+
 | font-faces
 +----------------------------------------------------------------------*/
@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}


/*------------------------------+
 |  variables
 +----------------------------------------------------------------------*/

// fonts:
@b-font-size:           12px;
@b-font-stack:          Roboto, OpenSans, Verdana, sans-serif;
@h-font-stack:          Economica, "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors:
@header-bar-bg:         #d8d8d8;
@header-nav-bg:         #e9e9e9;
@strip-border-color:    #c7c7c7;
@shadow-color:          #888;

@navbar-height:         51px;
@header-height:         38px;
@footer-height:         30px;
@nav-flattabs-border-size: 2px;

/*------------------------------+
 |  base styling
 +----------------------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: @body-bg;
    font: @b-font-size/20px normal @b-font-stack;
    
    // :for sticky-footer:
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @h-font-stack;
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 980px;
    }
}

/*------------------------------+
 |  page sections
 +----------------------------------------------------------------------*/

// ===+: header section
.navbar-default {
    height: @navbar-height;
    background-color: @header-bar-bg;
    border-color: @strip-border-color;
    
    .navbar-brand {
        color: #2b2b2b;
        font-size: 38px;
        font-family: @h-font-stack;
    }
    .navbar-nav > li > a {
        padding: 5px 15px;
    }
    .navbar-nav > li.sep {
        display: none;
    }
    
    @media (min-width: 768px) {
        .navbar-nav > li > a {
            margin: 10px auto;
            padding: 5px 5px;
            color: #222;
        }
        .navbar-nav > li.sep {
            display: inline;
            padding: 15px 0px;
            color: @header-nav-bg;
        }
    }
}

.header.header-fixed-top {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1020;
}

.header {
    background-color: @header-nav-bg;
    
    h1.small {
        font-size: 18pt;
        color: #444;
        margin: 0;
        padding: 10px 0 5px;
    }
    
    a { color: #fff; }
    
    .header-title {
        float: left;
    }
    
    .nav-flattabs {
        > li {
            > a {
                border-bottom: solid @nav-flattabs-border-size @header-nav-bg;
                &:hover {
                    border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 20%);
                }
            }
            
            &.active > a {
                &:hover,
                &:focus {
                    border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 5%);
                }
            }
       }
    }
}

.light-shadow {
    box-shadow: 0 1px 5px @shadow-color;
}

// ===+: content section
#content-wrapper {
    margin-top: 100px;
}

// ===+: footer section
footer {
    border-top: solid 1px @strip-border-color;
    padding: 4px 0 10px 0;
    background-color: #fff;
    color: #777;
    font-size: 11px;
    z-index: 1015;
    
    // :for sticky footer:
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: @footer-height;
    
    .fa-heart {
        color: red;
    }
}

// ===+: helper class

.sub-heading {
    margin: 0 auto 10px;
    padding: 0 0 5px 15px;
    border-bottom: solid 3px @table-border-color;
}

.text-sm { font-size: 10px; }

.rm-l-pad { padding-left: 5px !important; }
.rm-r-pad { padding-right: 5px !important; }
.rm-l-margin { margin-left: 5px !important; }
.rm-r-margin { margin-right: 5px !important; }

.bg-info2 {
    background-color: lighten(@brand-info, 37%);
}

.btn-slim {
    padding: 2px 10px;
}

.fa-md {
    font-size: 1.15em;
    line-height: .75em;
    vertical-align: -5%;
}


/* ==============================+
 |  admin adjustments
 + =====================================================================*/
@adm-header-bg:                 #b3c6d1;
@adm-nav-border-color:          #c20a58;
@adm-nav-link-hover-bg-color:   lighten(@adm-header-bg, 3%);
 
.adm { 
    .header {
        background-color: @adm-header-bg;
    
        .nav-flattabs {
            > li {
                > a {
                    border-bottom: solid @nav-flattabs-border-size @adm-header-bg;
                    &:focus,
                    &:hover { 
                        background-color: @adm-nav-link-hover-bg-color;
                        border-bottom: solid @nav-flattabs-border-size lighten(@adm-nav-border-color, 3%);
                    }
                }
                &.active > a {
                    background-color: lighten(@adm-header-bg, 5%);
                    border-bottom: solid @nav-flattabs-border-size @adm-nav-border-color;
                    
                    &:hover,
                    &:focus, & { 
                        background-color: @adm-nav-link-hover-bg-color;
                        border-bottom: solid @nav-flattabs-border-size @adm-nav-border-color;
                    }
                }
            }
        }
    }
    
    // containers
    
    .admin-menu {
        background-color: #fcfcfc;
        position: fixed;
        width: 220px;
        top: @navbar-height + @header-height - 20px;
        bottom: @footer-height - 20px;
        margin: 10px auto;
        z-index: 1010;
    }
    .admin-content {
        margin-left: 225px;
    }
}


/* ==============================+
 |  widets
 + =====================================================================*/

// callout

.callout {
    padding: 5px 10px;
    margin: 20px 0;
    border: solid 1px #eee;
    border-radius: 4px 7px 7px 4px;
    border-left-width: 7px;
    text-align: justify;
    background-color: #f9f9f9;

    p.small { font-size: 11px; }
}

.callout-info { border-left-color: @brand-info; }
.callout-success { border-left-color: @brand-success; }
.callout-warning { border-left-color: @brand-warning; }
.calllout-danger { border-left-color: @brand-danger; }

// nav-flattabs

.nav-flattabs {
    > li {
        float: left;
        
        // actual tabs
        > a {
            color: @text-color;
            margin-right: 2px;
            padding: 12px 15px 6px;
            line-height: @line-height-base;
            border-bottom: solid @nav-flattabs-border-size #fff;
            
            &:focus { background-color: #fff; }
            &:hover {
                border-radius: none;
                background-color: #fff;
                border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 20%);
            }
        }
        
        &.active > a,
        &.active > span {
            &,
            &:hover,
            &:focus {
                color: @nav-tabs-active-link-hover-color;
                background-color: #fff; // @nav-link-hover-bg;
                border-bottom: solid @nav-flattabs-border-size lighten(@component-active-bg, 5%);
            }
        }
    }
}

.nav-flattabs.filter-tabs{
    > li > a {
        padding: 2px 15px 2px;
    }
}


// navbar-nav

.navbar-nav {
    li.strip-user > a {
        padding: 5px 5px 5px 5px;
        margin: 10px auto auto;
        
        img {
            margin-top: -3px;
            margin-right: 3px;
        }
    }
    
    li.strip-notification {
        .badge {
            margin-top: -18px;
            margin-left: -10px;
        }
        .badge.text-sm {
            padding: 2px 4px;
            font-size: 10px;
            font-weight: normal;
        }
        .badge.bg-danger {
            background-color: @brand-danger;
        }
    }
}

// bootstrap overwrite: dropdown-menu

ul.dropdown-menu {
    font-family: @b-font-stack;
    font-size: 13px;
}
ul.dropdown-menu.wide-menu {
    li > a { padding: 3px 10px; }
}

// panels

.panel.flat-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel.panel-condensed {
    .panel-body { 
        padding: 5px; 
        
        .table {
            margin-bottom: 0px;
            
            tr:first-child td {
                border-top: none;
            }
        }
    }
}

// header-strip 

.header-strip {
    .text {
        padding: 0 0 5px 15px;
        border-bottom: solid 1px @table-border-color;
    }
    
    .buttons {
         float: right;
         margin: -38px 10px auto;
    }
}

.search-strip {
    display: block;
    margin: 1px auto;
    padding: 0 0 10px;
    border-bottom: solid 1px @table-border-color;
    
    .labeled-dropdown {
        margin-top: 5px;
    }
}

// table-pager
.table {
    tfoot {
        border-top: solid 2px @table-border-color;
    }
}

.table-pager {
    .controls {
        .btn-slim { margin-top: -3px; }
        input { 
            display: inline;
            padding: 1px 1px 1px 3px;
            height: 25px;
            width: 60px;
            bottom: 0;
        }
    }
}

// searchbox
.searchbox {
    border: solid 1px @input-border;
    border-radius: @input-border-radius;
    
    form { 
        width:100%; display:table; margin: 2px;
        &::before, &::after { clear: both; }
    }
    
    input, .btn {
        padding: 1px 5px 2px;
        background: #fff;
        border: none;
    }
    input { 
        float: left;
        width: 99%;
        padding-right: 40px;
        margin-right: -50px;
    }
    .btn {
        float: right;
        margin-right: 2px;
        width: 35px;
    }
}

// label-dropdown

.labeled-dropdown {
    span.text {
        display: inline-block;
        padding: 2px;
    }
    .btn { 
        padding: 2px;
        margin-top: -5px;
        background: transparent;
        border-bottom: dotted 1px @input-border;
    }
}